* {
    margin: 0;
    box-sizing: border-box;
}
.container {
    position: relative;

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(223, 241, 252); */
    background-color: #2f363e;
}

.card_container {
    width: 300px;
    height: 400px;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease-in-out;
    transform-style: preserve-3d;
    position: relative;
}

.card_container:hover .card {
    transform: rotateY(180deg);
}

.card_face {
    position: absolute;
    backface-visibility: hidden;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    color: #fff;
    border-radius: 30px;
    box-shadow: 25px 25px 75px rgb(0, 0, 0, 0.75),
        10px 10px 70px rgba(0, 0, 0, 0.75),
        inset 5px 5px 10px rgba(255, 255, 255, 0.2),
        inset 5px 5px 10px rgba(0, 0, 0, 0.75),
        inset -5px -5px 15px rgba(0, 0, 0, 0.95);

    background-position: center;
    background-size: cover;
}
.card_content {
    padding: 20px;
}

/* Front */
.card_front {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)),
        url(".././assets/remi-thorel-li2xONzeqFI-unsplash.jpg");
    color: #fff;
}
/* Back */
.card_back {
    transform: rotateY(180deg);
    background-image: url(".././assets/remi-thorel-md37aLkm7Ys-unsplash.jpg");
}

.credit {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: hsl(360, 10%, 50%);
}
.credit > a {
    display: inline-block;
    color: hsl(360, 10%, 65%);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.credit > a:hover {
    transform: scale(1.03);
    color: hsl(360, 10%, 85%);
}
